.formDates {
  max-width: 608px;
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;

}
.divForm {
  max-width: 763px;
  max-height: 850px;
  position: relative;
  z-index: 10;

 
}
.inputFormDates,
.bloodType {
 width: 240px;
  height: 36px;
  color: #9b9faa;
  outline: none;
  box-shadow: 0 2px 0 #e0e0e0;
  border: none;
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.64px;
  background-color: transparent;
}
.inputFormDates:focus,
.inputFormDates:hover {
  outline: none;
}
.startBtn {
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.64px;
  text-align: center;
  max-width: 210px;
  max-height: 43px;
  color: #ffffff;
  cursor: pointer;
  background-color: #fc842d;
  box-shadow: 0px 4px 10px 0px #fc842d80;
  border-radius: 30px;
  outline: none;
  padding: 12px 24px;
  margin: 30px;
  border: none;
}
.startBtn:hover {
  background-color: #e56b00;
}
.formDates input::placeholder {
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.64px;
  color: #9b9faa;
}
.inputRadio {
  color: #e56b00;
}

.homeContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
.titleForm {
  margin: 30px 0 68px 16px;
  color: #212121;
  font-family: 'Verdana';
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  margin-left: 16px;
}
@media screen and (max-width: 428px) {
  .titleForm{
    font-size: 18px;
  }
 
  }
  @media screen and (max-width: 768px) {
   
  }
